@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1f2937;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #1f2937;
}

.App {
  height: 100vh;
  width: 100%;
}

.Sign_up,
.Sign_in,
.map,
.planner,
.project {
  font-weight: 600;
}

.Page_wrapper {
  border-bottom: 1px solid rgba(75, 85, 99, 0.5);
}

.Logo {
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.5rem; /* p-2 */
  margin: 0.25rem; /* m-1 */
}

.Logo_image {
  display: flex;
  gap: 0.25rem; /* gap-1 */
  padding: 0.25rem; /* p-1 */
  align-items: center;
}

.Logo_image_svg {
  width: 2rem; /* w-5 */
  height: 2rem; /* h-7 */
}

.Logo_text {
  font-size: 1.6rem;
  font-weight: 600;
}

.Sign_box_container {
  display: flex;
  padding: 0.5rem; /* p-2 */
}

.Sign_up,
.Sign_in {
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.5rem; /* p-2 */
  text-align: center;
  cursor: pointer;
}

.Sign_up:hover,
.Sign_in:hover {
  background-color: black;
  color: #e5e7eb; /* hover:text-gray-200 */
}

.shadow-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  position: relative;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CreatePlanner style */
.input-control {
  width: 99%;
  background-color: aliceblue;
  /* margin: 60px 0; */
  font-weight: 500;
  font-size: 30px;
  text-align: start;
  border-radius: 0.375rem; /* rounded-md */
}
.input {
  border-radius: 100px;
}

/* calendar custom text */
.custom-calendar .rdrCalendarWrapper {
  font-size: 1.3rem; /* Adjust the base font size */
  color: #1f2937; /* from-gray-700 */
}

.custom-calendar .rdrMonthAndYearPickers select,
.custom-calendar .rdrMonthPicker select,
.custom-calendar .rdrYearPicker select {
  font-size: 1.5rem; /* Adjust dropdown font size */
}

.custom-calendar .rdrDayNumber span {
  font-size: 1rem; /* Adjust day number font size */
}

.custom-calendar .rdrDayToday span {
  font-size: 1rem; /* Adjust day number font size */
}

.custom-calendar .rdrWeekDay {
  font-size: 1rem; /* Adjust weekday name font size */
}

.rdrDefinedRangesWrapper {
  display: none;
}

.input-placeholder::placeholder {
  font-weight: bold;
  color: #868e96;
}

.textarea::placeholder {
  text-align: center;
}

.Corporation {
  margin-right: 20px;
}

.Photo_wrapper_1 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 400px) {
  .adimg_box {
    max-width: 300px;
    max-height: 180px;
  }
}

@media (max-width: 400px) {
  .footer_wrapper {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .footer_text {
    flex-direction: column;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .icons_wrapper {
    margin-top: 12px;
  }
}

@media (max-width: 400px) {
  .project_middle {
    flex-direction: column;
    width: full;
  }
}

@media (max-width: 400px) {
  .project_name_box {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .calender_page_middle {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .calender_wrapper {
    margin-left: 6px;
    width: 82%;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .calander_button_container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .calander_button_wrapper {
    justify-content: center;
    align-items: center;
    padding-right: 28px;
  }
}

@media (max-width: 400px) {
  .createplanner_wrapper {
    width: 350px;
    height: 60%;
  }
}

@media (max-width: 400px) {
  .planner_top {
    font-size: larger;
  }
}

@media (max-width: 400px) {
  .Logo_text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  .plannerbar_wrapper {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .plus_button {
    width: 1.4rem;
    height: 1.5rem;
  }
}

@media (max-width: 400px) {
  .Modal_wrapper {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 400px) {
  .input-control {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .content {
    height: 14rem;
  }
}
